@using AzPC.Blazor.App.Shared

@attribute [Route(UIGlobals.ROUTE_LOGIN)]
@layout Layout.Empty
@inherits BaseComponent

<!--
* CoreUI - Free Bootstrap Admin Template
* @version v5.1.0
* @link https://coreui.io/product/free-bootstrap-admin-template/
* Copyright (c) 2024 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://github.com/coreui/coreui-free-bootstrap-admin-template/blob/main/LICENSE)
-->

<PageTitle>Login | @AppInfo?.Name</PageTitle>

<!--
<HeadContent>
    <title>Login | @AppInfo?.Name</title>
</HeadContent>
-->

<div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card-group d-block d-md-flex row">
                    <div class="card col-md-7 p-4 mb-0">
                        <div class="card-body">
                            <h1>Login</h1>
                            <p class="text-body-secondary">Sign in with</p>
                            @if (!string.IsNullOrEmpty(AlertMessage))
                            {
                                <CAlert type="@AlertType">
                                    @AlertMessage
                                </CAlert>
                            }
                            @if (!HideLoginForm)
                            {
								<div class="d-grid gap-2 col-8 mx-auto">
									@foreach (var provider in ExternalAuthProviders)
									{
										<button class="btn btn-lg btn-outline-info mt-1 text-start" type="button" disabled="@DisableExternalLogin" @onclick="() => BtnClickExternalLogin(provider)">
											@if (provider == "Microsoft")
											{
												<BIcon icon="bi-microsoft" />
											}
											else if (provider == "Google")
											{
												<BIcon icon="bi-google" />
											}
											else if (provider == "Facebook")
											{
												<BIcon icon="bi-facebook" />
											}
											else if (provider == "Twitter")
											{
												<BIcon icon="bi-twitter" />
											}
											else if (provider == "GitHub")
											{
												<BIcon icon="bi-github" />
											}
											else if (provider == "LinkedIn")
											{
												<BIcon icon="bi-linkedin" />
											}
											else
											{
												<BIcon icon="bi-person" />
											}
											&nbsp;@provider
										</button>
									}
								</div>
							@*
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <CIcon icon="cil-user" />
                                    </span>
                                    <input class="form-control" type="text" placeholder="Email" @bind="@Email">
                                </div>
                                <div class="input-group mb-4">
                                    <span class="input-group-text">
                                        <CIcon icon="cil-lock-locked" />
                                    </span>
                                    <input class="form-control" type="password" placeholder="Password" @bind="@Password">
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-primary px-4" type="button" @onclick="BtnClickLogin">Login</button>
                                    </div>
                                    <div class="col-6 text-end">
                                        <button class="btn btn-link px-0" type="button" @onclick="ShowModalNotImplemented">Forgot password?</button>
                                    </div>
                                </div>
							*@
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<CModal @ref="@ModalDialog" title="Not Implemented" centered="false" type="warning">
    <div class="text-center">
        <p>This feature is not implemented yet.</p>
        <button type="button" class="btn btn-primary" @onclick="() => ModalDialog.Close()"><CIcon icon="x-circle" /> Close</button>
    </div>
</CModal>
