@namespace AzPC.Blazor.App.Shared

<!--
Razor component to render models in CoreUI style. Ref: https://coreui.io/bootstrap/docs/components/modal/

Sample usage:
    <CModal title="Modal title" centered="true" type="info">
        <p>Modal body text goes here.</p>
    </CModal>

Modal dialog with a button to close:
    <CModal @ref="@ModalDialog" title="Model title" centered="false" type="warning">
        <div class="text-center">
            <p>Modal body text goes here.</p>
            <button type="button" class="btn btn-primary" @onclick="() => ModalDialog.Close()"><CIcon icon="x-circle" /> Close</button>
        </div>
    </CModal>
    @code {
        private CModal ModalDialog { get; set; } = default!;
    }
-->

<div class="modal fade @cssClassShow @cssClassSize" role="dialog"
    data-coreui-backdrop="static" 
    data-coreui-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLiveLabel" aria-hidden="@hidden" aria-modal="@modal" style="display:@display;">
  <div class="modal-dialog modal-dialog-scrollable @cssClassCentered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><BIcon icon="@icon" extraClassName="@iconClass"/> @title</h5>
        <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close" @onclick="Close"></button>
      </div>
      <div class="modal-body">
        @ChildContent
      </div>
    </div>
  </div>
</div>
@if (showBackdrop)
{
    <div class="modal-backdrop fade show" @onclick="Close"></div>
}

@code {
    [Parameter]
    public string title { get; set; } = "Modal title";

    /// <summary>
    /// Set to true to center the modal vertically and horizontally. Default is true.
    /// </summary>
    [Parameter]
    public bool centered { get; set; } = true;

    /// <summary>
    /// Model size, one of "sm", "lg", "xl". Default is "default".
    /// </summary>
    [Parameter]
    public string size { get; set; } = "default";

    /// <summary>
    /// Dialog type, one of "info", "warning", "danger", "success", "primary", "secondary". Default is "info".
    /// The dialog will display an icon corresponding to the type. The icon is taken from Bootstrap Icons.
    /// </summary>
    [Parameter]
    public string type { get; set; } = "info";

    // property name must be ChildContent
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    private string cssClassSize
    {
        get
        {
            return size switch
            {
                "sm" => "modal-sm",
                "small" => "modal-sm",
                "lg" => "modal-lg",
                "large" => "modal-lg",
                "xl" => "modal-xl",
                "extra" => "modal-xl",
                "extra-large" => "modal-xl",
                "extra large" => "modal-xl",
                _ => string.Empty
            };
        }
    }
    private string cssClassShow = string.Empty;
    private string display = "none";
    private string? hidden = "true";
    private string? modal = null;
    private string cssClassCentered { get => centered ? "modal-dialog-centered" : string.Empty; }
    private bool showBackdrop = false;
    private string icon
    {
        get => type.ToLower() switch
        {
            "warning" => "bi-exclamation-triangle",
            "danger" => "x-circle-fill",
            "success" => "check-circle",
            _ => "bi-info-circle"
        };
    }
    private string iconClass
    {
        get => type.ToLower() switch
        {
            "warning" => "text-warning",
            "danger" => "text-danger",
            "success" => "text-success",
            "primary" => "text-primary",
            "secondary" => "text-secondary",
            _ => "text-info"
        };
    }

    // public CModal SetTitle(string title)
    // {
    //     SetParametersAsync(ParameterView.FromDictionary(new Dictionary<string, object?> { ["title"] = title })).Wait();
    //     this.title = title;
    //     base.StateHasChanged();
    //     return this;
    // }

    // public CModal SetContent(RenderFragment content)
    // {
    //     ChildContent = content;
    //     return this;
    // }

    public void Open()
    {
        cssClassShow = "show";
        display = "block";
        hidden = null;
        modal = "true";
        showBackdrop = true;
        StateHasChanged();
    }

    public void Close()
    {
        cssClassShow = string.Empty;
        display = "none";
        hidden = "true";
        modal = null;
        showBackdrop = false;
        StateHasChanged();
    }
}
